@model CassandraDataLayer.QueryEntities.Korisnik

<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">
        <h4 class="card-title">@Model.ime @Model.prezime</h4>
    </div>
    <div class="card-body">
        <p class="card-text">Email: @Model.email</p>
        <p class="card-text">Telefon: @Model.telefon</p>
    </div>
</div>
