body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

.navbar-collapse.in {
    display: block !important;
}

.container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none; 
}

#sidebar {
 
    /*max-height: 15rem;*/
    overflow: hidden;
    scrollbar-width: none;
}

    #sidebar #scroller {
        /*max-height: 15rem;*/
        overflow: scroll;
        scrollbar-width: none;
    }

.btnLink{
    display: inline-block;
    padding: 4px 12px;
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: #808080;
    color: white;
    text-decoration: none;
    box-shadow: 0 3px 4px 1px rgba(0,0,0,.2) inset;
}

    .btnLink:hover {
        background-color: #000000;
        color: white;
        text-decoration: none;
    }