body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-collapse.in {
    display: block !important;
}

.container {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

.container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

#sidebar {
    max-height: 15rem;
    overflow: hidden;
    scrollbar-width: none;
}

    #sidebar #scroller {
        max-height: 15rem;
        overflow: scroll;
        scrollbar-width: none;
    }