
@{
    ViewBag.Title = "WelcomPage";
}

<br />
<h2>Welcome to Solution Finder !</h2>

<hr />
<br />
<br />
<h4>
    We connect people of the same interests.
</h4>

<h4>
    Find many posts related to the activities you like or create your own and share with others.

</h4>
<br />
<br />
