
@{
    ViewBag.Title = "WelcomPage";
}

<h2>Welcome to Solution Finder !</h2>

<p>Thsi is more aboud us !</p>

<p>Thsi is more aboud us !</p>

<p>Thsi is more aboud us !</p>

<p>Thsi is more aboud us !</p>

<p>Thsi is more aboud us !</p>