@model CassandraDataLayer.QueryEntities.Tema

<div class="card text-white bg-primary mb-3 p-2 m-3" style="max-width: 100rem; max-height: 20rem; ">
    <div class="card-header">
        <h4 class="card-title"> @Html.DisplayFor(model => model.naslov)</h4>
    </div>
    <div class="card-body bg-secondary" style="overflow:scroll;">
        <p class="bg-secondary text-dark"> @Html.DisplayFor(model => model.sadrzaj)</p>
    </div>
    <div class="col-1"></div>
</div>

